* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
} 
 
 body {
   background: #e6ecf0;
   font-family: 'Helvetica',Arial, Helvetica, sans-serif;
   text-rendering: optimizeLegibility !important;
   -webkit-font-smoothing: antialiased !important;
}

.content {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 30px;
}


header#main-header {
  height: 46px;
  background: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);

  position: relative;
  z-index: 1;
}

header#main-header .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

header#main-header img {
  height: 26px;
  width: 26px;
}

header#main-header nav ul {
  display: flex;
  list-style: none;
}

header#main-header nav ul li {
  display: flex;
  align-items: center;

  font-size: 13px;
  color: #667580;
  font-weight: bold;

  margin-left: 30px;
}

header#main-header nav ul li img {
  height: 20px;
  width: 20px;
  margin-right: 7px;
}

header#main-header nav ul li:first-child{
  margin: 0;
}

header#main-header div.side {
  display: flex;
}

header#main-header div.side input{
  border: 1px solid #e6ecf0;
  height: 34px;
  padding: 0px 12px;
  border-radius: 16px;
  color: #667581;
  font-size: 12px;
  background: #f5f8fa;
}
header#main-header div.side input img {
  height: 10px;
  width: 10px;
}
header#main-header div.side img{
  width: 34px;
  height: 34px;
  border-radius: 50%;
  margin: 0 15px;
}

header#main-header div.side button {
  height: 34px;
  background: #3bb9e3;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 90px;
  font-weight: bold;
  font-size: 14px;
  color: #fff;
  border-radius: 16px;
  border: 0;
}

div.banner {
  height: 380px;
  width: 100%;
  background: #3bb9e3;
}

div.banner img {
  height: 380px;
  width: 100%;
}

div.bar {
  height: 59px;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}

div.bar .content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-left: 285px;
}

div.bar .content ul {
  list-style: none;
  display: flex;
  height: 100%;
}

div.bar .content ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  position: relative;
}

div.bar .content ul li.active {
  height: 59px;
}

div.bar .content ul li.active::after {
  content: ''; 
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #3bb9e3;
} 

div.bar .content ul li.active strong {
  color: #3bb9e3;
}
div.bar .content ul li span {
  color: #667580;
  font-size: 12px;
  font-weight: bold;
}

div.bar .content ul li strong {
  color: #667580;
  font-size: 18px;
  font-weight: bold;
  margin-top: 2px;
}

div.bar .content .actions {
  height: 59px;
  display: flex;
  align-items: center;
  justify-content: center ;
}

div.bar .content .actions img {
  height: 15px;
  padding-left: 14px;
}

div.bar .content .actions button {
  height: 34px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 90px;
  font-weight: bold;
  font-size: 14px;
  color: #3bb9e3;
  border-radius: 16px;
  border: 1px solid #3bb9e3;
}

div.wrapper-content {
  display: flex;
}

div.wrapper-content aside.profile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 260px;
}

div.wrapper-content aside.profile img.avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid #fff;
  margin-top: -130px;
}

div.wrapper-content aside.profile h1 {
  font-size: 21px;
  color: #1f2226;
  margin-top: 10px;
}

div.wrapper-content aside.profile span {
  font-size: 14px;
  color: #53616c;
}

div.wrapper-content aside.profile p {
  font-size: 14px;
  color: #1f2226;
  margin-top: 15px;
}

div.wrapper-content aside.profile ul {
  margin-top: 20px;
  list-style: none;
}

div.wrapper-content aside.profile ul.list li {
  font-size: 14px;
  color: #657786;
  margin-top: 5px;

  display: flex;
  align-items: center;
}


div.wrapper-content aside.profile ul.list li:first-child {
  margin-top: 0;
}

div.wrapper-content aside.profile ul li img {
  width: 14px;
  height: 14px;
  margin-left: -45px;
  margin-right: 10px;
}

div.wrapper-content aside.profile .widget {
  margin-top: 20px;
  margin-left: -10px;
}

div.wrapper-content aside.profile .widget strong {
  font-weight: normal;
  color: #3bb9e3;
  font-size: 14px;

  display: flex;
  align-items: center;
}

div.wrapper-content aside.profile .widget strong img {
  width: 14px;
  height: 14px;
  margin-right: 5px;
}

div.wrapper-content aside.profile .followers ul {
  margin-left: -35px; 
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

div.wrapper-content aside.profile .followers ul li {
  width: 40px;
  height: 40px;
  flex: 1 0 auto;
  margin-right: 5px;
  margin-top: 5px;
  background: #404549;
  border-radius: 50%;
}

div.wrapper-content aside.profile .images ul {
  margin-left: -35px; 
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

div.wrapper-content aside.profile .images ul li {
  width: 80px;
  height: 80px;
  flex-shrink: 0;
  flex-grow: 1;
  margin-right: 5px;
  margin-top: 5px;
  background: #404549;
  border-radius: 2px;
  margin-bottom: 5px;
}